body {
  cursor: none; /* Hides the default browser pointer */
}

.upside-down-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: var(--primary-red);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: screen;
  box-shadow: 0 0 15px 5px rgba(179, 0, 0, 0.8);
  filter: blur(2px);
}